{%- liquid
  assign locales = shop.metafields.foxify.locales.value
  assign current_locale = request.locale.iso_code
  assign primary_locale = current_locale
  for locale in shop.published_locales
    if locale.primary
      assign primary_locale = locale.iso_code
      break
    endif
  endfor
  assign translation = locales[current_locale] | default: locales[primary_locale]
-%}
<nav
  class="x-breadcrumbs"
  role="navigation"
  aria-label="x-breadcrumbs"
>
  <a
    href="{{ routes.root_url }}"
    title="{{- translation.content.home -}}"
  >
    {{- translation.content.home -}}
  </a>
  {%- if template == 'index' or template.name == 'index' -%}
    {%- comment -%}Only show Home{%- endcomment -%}
  {%- elsif template contains 'page' -%}
    <span aria-hidden="true" class="x-breadcrumbs__sep">/</span>
    <span class="x-breadcrumbs__last">{{ page.title }}</span>
  {%- elsif template contains 'product' -%}
    {%- liquid
      assign primary_collection = product.metafields.breadcrumbs.primary_collection
    -%}
    {%- if collection.url != blank -%}
      <span aria-hidden="true" class="x-breadcrumbs__sep">/</span>
      {%- if primary_collection != blank -%}
        {{
          primary_collection.value.title
          | link_to: primary_collection.value.url
        }}
      {%- else -%}
        {{ collection.title | link_to: collection.url }}
      {%- endif -%}
    {%- else -%}
      {%- assign current_collection = product.collections | first -%}
      <span aria-hidden="true" class="x-breadcrumbs__sep">/</span>
      {%- if primary_collection != blank -%}
        <a href="{{ primary_collection.value.url }}">
          {{- primary_collection.value.title -}}
        </a>
      {%- elsif current_collection != blank -%}
        <a href="{{ current_collection.url }}">
          {{- current_collection.title -}}
        </a>
      {%- else -%}
        <a href="{{ routes.all_products_collection_url }}">
          {{- translation.content.collections -}}
        </a>
      {%- endif -%}
    {%- endif -%}
    <span aria-hidden="true" class="x-breadcrumbs__sep x-breadcrumbs__sep--last">/</span>
    <span class="x-breadcrumbs__last">{{ product.title }}</span>
  {%- elsif template contains 'collection' and collection.handle -%}
    {%- if collection.handle != 'all'  %}
      <span aria-hidden="true" class="x-breadcrumbs__sep">/</span>
      <a href="{{ routes.all_products_collection_url }}" >
        {{- translation.content.collections -}}
      </a>
    {% endif %}
    <span aria-hidden="true" class="x-breadcrumbs__sep">/</span>
    {%- if current_tags -%}
      {%- capture url -%}{{ routes.collections_url }}/{{ collection.handle }}{%- endcapture -%}
      {{ collection.title | link_to: url }}
      <span aria-hidden="true" class="x-breadcrumbs__sep">/</span>
      <span class="x-breadcrumbs__last">{{ current_tags | join: ' + ' }}</span>
    {%- else -%}
      <span class="x-breadcrumbs__last">{{ collection.title }}</span>
    {%- endif -%}
  {%- elsif template == 'list-collections' -%}
    <span aria-hidden="true" class="x-breadcrumbs__sep">/</span>
    <span class="x-breadcrumbs__last">{{ translation.content.collections }}</span>
  {%- elsif template contains 'blog' -%}
    <span aria-hidden="true" class="x-breadcrumbs__sep">/</span>
    {%- if current_tags -%}
      {{ blog.title | link_to: blog.url }}
      <span aria-hidden="true" class="x-breadcrumbs__sep">/</span>
      <span class="x-breadcrumbs__last">{{ current_tags | join: ' + ' }}</span>
    {%- else -%}
      <span>{{ blog.title }}</span>
    {%- endif -%}
  {%- elsif template contains 'article' -%}
    <span aria-hidden="true" class="x-breadcrumbs__sep">/</span>
    {{ blog.title | link_to: blog.url }}
    <span aria-hidden="true" class="x-breadcrumbs__sep">/</span>
    <span class="x-breadcrumbs__last">{{ article.title }}</span>
  {%- elsif template contains 'cart' -%}
    <span aria-hidden="true" class="x-breadcrumbs__sep">/</span>
    <span class="x-breadcrumbs__last">{{ translation.content.cart }}</span>
  {%- elsif template == '404' -%}
    <span aria-hidden="true" class="x-breadcrumbs__sep">/</span>
    <span class="x-breadcrumbs__last">{{ translation.content.page_404 }}</span>
  {%- else -%}
    <span aria-hidden="true" class="x-breadcrumbs__sep">/</span>
    <span class="x-breadcrumbs__last">{{ page_title }}</span>
  {%- endif -%}
</nav>
